useDynLib(randomUniformForest)
exportPattern("^[[:alpha:]]+")
import(methods, parallel, doParallel, foreach, ggplot2, pROC, cluster, MASS)
importFrom(gtools, binsearch)
importFrom(Rcpp, loadModule)
importFrom(Rcpp, evalCpp)
export(randomUniformForest.default, importance.randomUniformForest, rUniformForest.big, rUniformForest.combine, rUniformForest.grow, partialDependenceBetweenPredictors, partialDependenceOverResponses, partialImportance, postProcessingVotes, rm.trees, roc.curve, fillNA2.randomUniformForest, bCI, init_values, getTree.randomUniformForest, plotTree, as.supervised, clusteringObservations, mergeClusters, modifyClusters, unsupervised.randomUniformForest, generic.cv, model.stats, update.unsupervised, combine.unsupervised)

S3method(print, randomUniformForest)
S3method(predict, randomUniformForest)
S3method(plot, randomUniformForest)
S3method(summary, randomUniformForest)
S3method(randomUniformForest, formula)
S3method(randomUniformForest, default)
S3method(plot, importance)
S3method(print, importance)
S3method(plot, unsupervised)
S3method(print, unsupervised)
S3method(update, unsupervised)